
    body {
     background-image: url("images/R.jpg");
     background-repeat: no-repeat;
     background-size: cover;
         }
    /* 自定义导航栏样式 */
    .navbar-nav .nav-link {
      margin-right: 60px; /* 调整导航项之间的右侧间距 */
    }

    .navbar-nav .nav-link:hover {
      color: rgb(20, 60, 201); /* 鼠标触碰时的文本颜色 */
    }

    /* 自定义侧边栏样式 */
    .sidebar {
      background-color: #f8f9fa;
      padding: 20px;
      height: calc(100vh - 56px); /* 侧边栏高度减去导航栏高度 */
      overflow-y: auto; /* 添加滚动条 */
    }

    .sidebar-title {
      font-weight: bold;
      margin-bottom: 10px; /* 调整标题之间的下方间距 */
    }
    .sidebar-title{
        font-size:xx-large;
    }
    .sidebar-title:hover{
        color: rgb(20, 60, 201); 
    }

    /* 自定义主题栏样式 */
    .main-content {
      padding: 20px;
      height: calc(100vh - 56px); /* 主题栏高度减去导航栏高度 */
      overflow-y: auto; /* 添加滚动条 */
    }

    .article-title {
      font-weight: bold;
      margin-bottom: 20px;
      cursor: pointer;
    }

    .article-content {
      margin-bottom: 40px;
    }

    /* 自定义下栏样式 */
    .footer {
      background-color: #101111;
      padding: 20px;
      text-align: center;
    }

    .footer-row {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .footer-col {
      flex: 1;
      margin: 0 10px;
    }

    .footer-image {
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .footer-image-caption {
      margin-top: 10px;
      font-weight: bold;
    }
    .button
    {
        color: rgb(99, 106, 106);
    }
 