*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none!important;
    color:#000;
}
body{           
    display: flex;
    justify-content: center;
    min-width: 1350px;
}
.body{
    width:100%;
    font-family:"Microsoft Yahei";
}
.header{
    width:100%;
    height:250px;
    display:flex;
    flex-direction: column;
    position: relative;
}
.logo{
    flex:4;
    background-image:url(../images/top-bj2.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor:default;
}
.search{
    display: flex;
    position: absolute;
    top: 10px;
    right: 6%;
    width: 600px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}
.search1{
    flex: 4;
    display: flex;
    width:200px;
    height:100%;
    color:#fff;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.search11{
    flex:1;
}
.search2{
    flex:5;
    display: flex;
    height:100%;
    opacity: 0.4;
}
.search2L{
    flex:4;
    height:100%;
    padding-left: 2%;
    margin-right: 2%;
    color:#81807C;
}
.search2R{
    flex:1;
    height:100%;
    background-color: #337ab7;
    color:white;
    cursor: pointer;
}
button{
    border:none;
}
.header_nav{
    flex:1;
    bottom: 0%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    background-color: #084466;
    border-top: solid 2px#FFF;
    border-bottom: solid 2px#FFF;
}
.header_nav ul{
    font-size: 0px;
    height:50px;
    position: absolute;
}
.header_nav ul li{
    font-size:16px;
    display:inline-block;
    list-style:none;
    width:130px;
    height:100%;
    margin:0px;
    background-color: #084466;
    overflow: visible;
    position: relative;
    z-index: 100;
}
.header_nav ul li.current{
    background-color: #337ab7;
}
.header_nav ul li a{
    display:block;
    color:#fff;
    text-decoration:none;
    text-align: center;
    padding:12px 0px;
}
.nav{
    position: inherit;
    width:220px;
    border-bottom: 3px solid #000;
}
.nav li{
    display:block;
    width: 220px !important;
    border-top: 1px solid #000;
}
.nav li.current{
    background-color: #337ab7;
}
.section{
    width:100%;
    height:900px;
    display: flex;
    justify-content: center;
    background-color:#D6E8F4;
    padding-bottom: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    width:1200px;
    height:100%;
    color:#000;
    background:white;
    padding-bottom: 50px;
}
.news{
    flex:1;
    background-image:url(../images/headNew.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    
}
.news a{
    width:100%;
    height:100%;
    font-size: 44px;
    line-height: 100px;
    font-family: serif;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.content1{
    flex:3;
    display:flex;
    padding: 0% 1%;
}
.content11{
    flex:16;
    position: relative;
    overflow: hidden;
}
.content11 ul{
    width:500%;
    height: 86%;
    position: absolute;
}
.content11 ul li{
    float:left;
    width: 20%;
    height: 100%;
}
.content11 ol{
    right: 0%;
    bottom: 10%;
    width:160px;
    height:40px;
    position: absolute;
}
.content11 ol li{
    display:inline-block;
    width:25px;
    height:25px;
    vertical-align: middle;
    text-align: center;
    opacity: 0.4;
    color:#fff;
    background-color: #81807C;
    border-radius: 4px;
    cursor:pointer;
}
.content11 ol li.current{
    background:#EC6B0E;
    opacity: 1;
}
.newstitle{
    left: 0%;
    bottom: 0%;
    width:100%;
    height: 12%;
    position: absolute;
}
.newstitle li{
    width:100%;
    height:100%;
    text-align: center;
}
.content12{
    flex:24;
    padding:0% 1%;
}
.content12 div{
    width:100%;
    height:12%;
    background: rgb(240,240,240);
    position: relative;
}
.centertitle{
    float:left;
    display: inline;
    left: 30%;
    width:120px;
    height:100%;
    background-color: #084466;
    position:absolute;
    text-align: center;
    color:#fff;
    line-height: 30px;
    font-size: 20px;
}
.more{
    float:right;
    width:85px !important;
    height: 100% !important;
    position: relative;
}
.more span{
    font-size: 16px;
    position: absolute;
    top: 50%;
    color: rgb(194,194,220);
    transform: translate(0%, -50%);
}
.more a{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #fff;
    margin-left: 5px;
    border-radius: 50%;
    background: #F5AA02;
}
.content12 ul{
    width:100%;
    height:88%;
    display:flex;
    flex-direction: column;
}
.content12 ul li{
    flex:1;
    display:flex;
    position: relative;
    font-size: 14px;
}
.content12 ul li i{
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
}
.content12 ul li a{
    line-height: 35px;
    width: 330px!important;
    height:100%;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}
.content12 ul li span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    float:right;
    width:120px;
    height:100%;
}
.content13{
    flex:19;
    padding:0% 1%;
}
.content13 div{
    width:100%;
    height:12%;
    background: rgb(240,240,240);
    position: relative;
}
.content13 ul{
    width:100%;
    height:88%;
    display:flex;
    flex-direction: column;
}
.content13 ul li{
    flex:1;
    position: relative;
    font-size: 14px;
}
.content13 ul li i{
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #EC6B0E;
}
.content13 ul li a{
    display: inline-block;
    line-height: 36px;
    width: 220px!important;
    height:100%;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content13 ul li span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    float:right;
    width:80px;
    height:100%;
}
.content2{
    flex:3;
    display:flex;
    padding: 0% 1%;
}
.content21{
    flex:1;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
}
.title21{
    flex:0.6;
    display: flex;
    position: relative;
    border-bottom:2px solid #81807C;
    padding-top: 10px;
}
.title21 i{
    flex:1;
    height:100%;
    background-image: url(../images/tzb_sign1.gif);
    background-repeat: no-repeat;
    background-size: 9px 22px;
    background-position: 0% -20%;
    position: relative;
}
.title21 i img{
    width:132px;
    height:2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.title21 > a{
    flex:12;
    height:100%;
    position: relative;
    color: rgb(149, 1, 1);
    font-size: 20px;
}
.title21 > a p{
    position: absolute;
    left: 30px;
}
.title21 > span{
    flex:24;
    height:100%;
}
.content21 li{
    flex:1;
    display: flex;
    padding-left: 2%;
    font-size: 14px;
}
.content21 li i{
    flex:0.6;
    height:100%;
    background-image: url(../images/jiantou.png);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: 0% 60%;
} 
.content21 li a{
    display: flex;
    width: 220px!important;
    height:100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content21 li span{
    display: flex;
    flex-direction: column;
    float:right;
    width:80px;
    height:100%;
    justify-content: center;
}
.content21 li a{
    flex:18;
    height:100%;
}
.content21 li span{
    flex:5;
    height:100%;
}
.content3{
    flex:2;
    margin-top: 25px;
    display:flex;
}
.content31{
    flex:2;
    height:140px; 
    padding-top: 20px;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    background: rgb(240,240,240);
}
.content32{
    flex:15;
    padding: 0% 10px;
}
.content32 .title{
    width:100%;
    height:32px;
    position: relative;
    background: rgb(240,240,240);
}
.content32 .title div{
    float:left;
    display: inline;
    width:120px;
    height:100%;
    background-color: #084466;
    position:absolute;
    text-align: center;
    color:#fff;
    line-height: 30px;
    font-size: 20px;
}
.content32 .link{
    margin-top: 50px;
    width:100%;
    height:80px;
    padding-top: 20px;
    border: 1px dashed #990000;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}
.content32 .link a{
    width:130px;
    height:54px;
    border: 1px solid #990000;
}
.content32 .link a img{
    width:130px;
    height:54px;
}
.footer{
    width:100%;
    height:120px;
    display:flex;
    flex-direction: column;
    background-color:#D6E8F4;
}
.footer1{
    flex:3;
    margin: 0% 5%;
    background-color: #084466;
}
.footer2{
    flex:7;
    display: flex;
    justify-content: center;
}
.footer2 p {
    text-align: center;
}
.footer2 p a{
    text-decoration: none!important;
    color: #000;
}
.mobile_code {
    display: none;
}
#btn {
    width: 40px;
    height: 30px;
    position:fixed;
    bottom:10%;
    right:5%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: white;
    border: 1px solid #cccccc;
}
#float {
    width: 600px;
    height: 100px;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #cccccc;
    z-index: 999;
    font-size: 30px;
    color:red;
}

.red{
    color:red !important;
}

