*{
    margin: 0;
    padding: 0;
}
.li{
    list-style-type: none;
}
body {           
    display: flex;
    justify-content: center;
    border: 10px solid black;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    width:1569px;
    min-width: 1569px;
    height:1314px;
    font-family:"Microsoft Yahei";
    color:black;
}
.header{
    flex:10;
}
.header1{
    display: block;
    height:70%;
    background-color: #f5aa02;
}
.header1 .logo{
    width:600px;
    height:100%;
    float:left;
}
.header1 .logo img{
    width:600px;
    height:100%;
}
.header .search{
    width:600px;
    height:100%;
    float:right;
    text-align: center;
}
.search1{
    display: flex;
    width:240px;
    height:50px;
    border: 4px solid #01ACB7;
    margin:0 auto;
    margin-top: 40px;
    border-radius: 25px;
    overflow: hidden;
}

.search1L{
    flex:4;
    height:100%;
    border:1px solid #01ACB7;
    background-color: #f5aa02;
    color:#81807C
}
.search1R{
    flex:1;
    height:100%;
    background-color: #01ACB7;
    color:white;
}
button{
    border:none;
}
.header2{
    flex:1;
    display: block;
    display:flex;
    justify-content: center;
    background-color: #01ACB7;
    height:30%;
    width:100%;
}
.header2 ul{
    margin:auto;
    font-size: 0px;
    position: absolute;
}
.header2 ul li{
    font-size:16px;
    display:inline-block;
    list-style:none;
    width:130px;
    margin:0px;
    background-color: #01ACB7;
    overflow: visible;
    position: relative;
    z-index: 100;
}
.header2 ul li a{
    display:block;
    color:#fff;
    text-decoration:none;
    text-align: center;
    padding:12px;
}
.nav{
    position: inherit;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}
.nav li{
    display:block;
    border-top: 1px solid #000;
}
.content{
    flex:46.5;
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(91, 208, 115, 0.984);
}
.content1{
    flex:1;
    border: 5px solid rgba(29, 18, 89, 0.984);
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #01ACB7;
    margin-bottom: 35px;
}
.content1 ul{
    width:400%;
    height: 100%;
    position: absolute;
}
.content1 ul li{
    float:left;
    width: 25%;
}
.content1 ol{
    left: 50%;
    top: 100%;
    width:400px;
    height:50px;
    transform: translate(-50%, -100%);
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
}
.content1 ol li{
    display:inline-block;
    width:60px;
    height:20px;
    line-height:16px;
    background-color: #81807C;
    border-radius: 10px;
    margin:15px;
    cursor:pointer;
}
.content1 ol li.current{
    background:#EC6B0E;
}
.content1 .left{
    width:25px;
    height:50px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    background-image:url(images/prev.png);
    background-position: -22px -0px;
    z-index: 100;
    cursor:pointer;
}
.content1 .right{
    width:25px;
    height:50px;
    position: absolute;
    left:100%;
    top: 50%;
    transform: translate(-100%, -50%);
    background-image:url(images/next.png);
    z-index: 10;
    cursor:pointer;
}
.content2{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 0 7%;
    border: 5px solid rgba(89, 141, 65, 0.984);
}
.content21{
    flex:10;
    display:flex;
}
.content211{
    flex:5;
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(89, 141, 65, 0.984);
}
.content211 ul{
    flex:1;
    width:100%;
    display:flex;
    border: 5px solid rgba(89, 141, 65, 0.984);
}
.content211 > ul > li{
    flex:1;
    height: 100%;
    display:inline-block;
    list-style: none;
    text-align: center; 
    font-size: 24px;
    padding-top: 15px;
    background-color: #f5aa02;
    color:#fff;
    cursor:pointer;
}
.content211 ul li .current1{
    background: #EC6B0E;
    z-index: 20;
}
.content211 .poem1{
    flex:4;
    width:100%;
    background: #fff;
}
.content211 .poem1 ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 5px solid rgba(89, 141, 65, 0.984);
}
.content211 .poem1 ul li{
    flex: 1;
    list-style: none;
    padding-top: 10px;
}
.content212{
    flex:4;
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(89, 141, 65, 0.984);
    
}

.content2121{
    flex:4;
    border: 2px solid rgba(89, 141, 65, 0.984);
    margin: 4px;
    position: relative;
}
.introduce{
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width:100%;
    color:#fff;
    background: rgba(0,0,0,0.5);
}
.content2122{
    flex:1;
    display: flex;
    border: 2px solid rgba(89, 141, 65, 0.984);
}
.content2122 div{
    flex:1;
    position: relative;
    border: 4px solid rgba(89, 141, 65, 0.984);
    margin: 2px;
    overflow: visible;
    cursor:pointer;
}
.content2121 div img{
    width:429px;
    height:263px;
    object-fit: cover;
}
.content2122 div img{
    width:97px;
    height:69px;
    object-fit: cover;
}
.current2{
    border-color: black !important;
}
.triangle{
    background-color: #000;
    width:8px;
    height:8px;
    border:1px solid #000;
    position:relative;
    left:45%;
    top:-100%;
    transform: rotate(45deg);
}
.content213{
    flex:3;
    border: 5px solid rgba(89, 141, 65, 0.984);
}
.content213 span{
    display: block;
    width:100%;
    height:16%;
    border:1px solid #000;
    cursor:pointer;
}
.content213 div{
    width:100%;
    height:50%;
    border:1px solid #000;
}
.content22{
    flex:7;
    display:flex;
}
.content221{
    flex:7;
    position: relative;
    border: 5px solid rgba(89, 141, 65, 0.984);
    overflow: hidden;
}
.content221 ul{
    height:100%;
    width:400%;
    border: 3px solid rgba(221, 76, 14, 0.984);
    position: absolute;
    
}
.content221 ul li{
    list-style:none;
    float:left;
    padding-left: 13px;
    padding-right: 13px;
}
.content221 ul li img{
    height:140px;
    width:200px;
}
.content221 .left{
    width:25px;
    height:50px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    border:3px solid rgba(216, 90, 153, 0.984);
    background-image:url(images/prev.png);
    background-position: -22px -0px;
    z-index: 100;
    cursor:pointer;
}
.content221 .right{
    width:25px;
    height:50px;
    position: absolute;
    left:100%;
    top: 50%;
    transform: translate(-100%, -50%);
    border: 3px solid rgba(216, 90, 153, 0.984);
    background-image:url(images/next.png);
    z-index: 100;
    cursor:pointer;
}
.content222{
    flex:3;
    border: 5px solid rgba(89, 141, 65, 0.984);
}
.content222 div img{
    width:192px;
    height:50px;
}
.part1{
    width:48%;
    height:48%;
    border: 3px solid rgba(216, 90, 153, 0.984);
    float: left;
    cursor:pointer;
}
.part2{
    width:48%;
    height:48%;
    border: 3px solid rgba(216, 90, 153, 0.984);
    float: left;
    cursor:pointer;
}
.part3{
    width:48%;
    height:48%;
    border: 3px solid rgba(216, 90, 153, 0.984);
    float: left;
    clear: left;
    cursor:pointer;
}
.part4{
    width:48%;
    height:48%;
    border: 3px solid rgba(216, 90, 153, 0.984);
    float: left;
    cursor:pointer;
}

.footer{
    flex:7.5;
    display: flex;
    background-color: #f5aa02;
}
.footer1{
    flex:1;
}
